.App {
  text-align: center;
  font-size: 30px;
}

.header{
  font-size: 50px;
  padding: 2rem;
}

.status{
  height: 30px;
  width: auto;
  padding-bottom: 10px;
}


.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 80px;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}


.board-row{
  display: flex;
  justify-content: center;
}

.button{
  font-size: 20px;
  background: white;
  margin: 2rem;
}

.radio-button{
  margin: 1.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
